In [1]:
import pandas as pd
import ppscore as pp
import re

In [2]:
df_forecast = pd.read_csv("forecast_starting_data.csv")
df_training = pd.read_csv("training_data.csv")
df_macro = pd.read_csv("macro_data.csv")

/var/folders/jh/hbpckc3j0vj731hydfqf993h0000gn/T/ipykernel_21558/2315000146.py:2: DtypeWarning: Columns (51) have mixed types. Specify dtype option on import or set low_memory=False.
  df_training = pd.read_csv("training_data.csv")

IN THE NEXT STEP WE WILL FILTER THE MACRO DATA

In [188]:
def add_mths(input: str, n: int):
    input = (int)(input)
    last_two = input % 100
    input -= last_two
    if last_two + n > 12:
        input += 100
    input += (last_two + n) % 12
    return (str)(input)
    
def format_date(input: str):
    x = ""
    if len(input) == 9:
        x = input[-4:] + "0" + input[0]
    elif len(input) == 10:
        x = input[-4:] + input[0:2]
    else:
        return "YOU BEEN A VERY BAD BOY TODAY >:("
    return add_mths(x, 6)
    
# TESTING FORMAT_DATE()
print(format_date("12/31/2020"))
print(format_date("2/31/2020"))
print(format_date("2/31/20"))

202106
202008
YOU BEEN A VERY BAD BOY TODAY >:(

In [189]:
import numpy as np
import datetime

In [190]:
df_macro

,Mnemonic,M_FHOFHOPIPOQ.IUSA,M_FYLE.IUSA,M_FRT.IUSA,M_FYPSAVQ.IUSA,M_FC.IUSA,FYPCPICA_FEDB.IUSA,M_FGDP.IUSA,M_FYHHAVGQ.IUSA,M_FYFMMEDQ.IUSA,...,M_FBCFCOFCCQ.IUSA,M_FETP.IUSA,M_FLTV.IUSA,M_FC$.IUSA,M_FEIAMGTTQ.IUSA,M_FXCPMGASUQ.IUSA,M_FRBBBQ.IUSA,M_FHOWNRQ.IUSA,M_FIFR_FEDS.IUSA,M_FIFR$_FEDS.IUSA
0,Description,Baseline Scenario (October 2022): FHFA Purchas...,Baseline Scenario (October 2022): NIPA: Income...,Baseline Scenario (October 2022): Retail Sales...,Baseline Scenario (October 2022): Income: Pers...,Baseline Scenario (October 2022): NIPA: Person...,Baseline Scenario (October 2022): Income: Per ...,Baseline Scenario (October 2022): NIPA: Gross ...,Baseline Scenario (October 2022): Average Hous...,Baseline Scenario (October 2022): Median Famil...,...,Baseline Scenario (June 2020): Charge Off Rate...,Baseline Scenario (June 2020): Employment: Tot...,Baseline Scenario (June 2020): Terms Conventio...,Baseline Scenario (June 2020): NIPA: Personal ...,Baseline Scenario (June 2020): U.S. All Grades...,Baseline Scenario (June 2020): Motor gasoline ...,Baseline Scenario (June 2020): Merrill Lynch 1...,Baseline Scenario (June 2020): Homeownership R...,FRB CCAR 2020 - Severely Adverse: NIPA: Fixed ...,FRB CCAR 2020 - Severely Adverse: NIPA: Fixed ...
1,Name,"FHFA Purchase-Only Home Price Index, (Index 19...","NIPA: Income - Compensation of Employees, (Bil...","Retail Sales - Retail Sales Total, (Bil. USD, ...","Income: Personal - Saving Rate, (%, SA)",NIPA: Personal Consumption Expenditures - Tota...,"Income: Per Capita Income, (USD)","NIPA: Gross Domestic Product, (Bil. USD, SAAR)","Average Household Income: All Races, (USD, SA)","Median Family Income: All Races, (USD, SA)",...,Charge Off Rates: All Commercial Banks - Credi...,"Employment: Total Private, (Mil. #, SA)",Terms Conventional Mortgages: All Loans - Comp...,NIPA: Personal Consumption Expenditures - Tota...,U.S. All Grades All Formulations Retail Gasoli...,"Motor gasoline prices: Unleaded, (Cents per ga...","Merrill Lynch 10-Year Bbb Corporate Bond Rate,...","Homeownership Rate, (%, SA)","NIPA: Fixed Investment - Residential - Total, ...","NIPA: Fixed Investment - Residential - Total, ..."
2,Source,U.S. Federal Housing Finance Agency (FHFA); Fr...,U.S. Bureau of Economic Analysis (BEA); Moody'...,U.S. Census Bureau (BOC); Moody's Analytics Fo...,U.S. Bureau of Economic Analysis (BEA); Moody'...,U.S. Bureau of Economic Analysis (BEA); Moody'...,U.S. Bureau of Economic Analysis (BEA); Moody'...,U.S. Bureau of Economic Analysis (BEA); Moody'...,U.S. Census Bureau (BOC); U.S. Bureau of Econo...,U.S. Census Bureau (BOC); Moody's Analytics Fo...,...,U.S. Board of Governors of the Federal Reserve...,U.S. Bureau of Labor Statistics (BLS); Moody's...,U.S. Federal Housing Finance Board (FHFB); Moo...,U.S. Bureau of Economic Analysis (BEA); Moody'...,U.S. Energy Information Administration (EIA); ...,Oil Price Information Service (OPIS); Moody's ...,U.S. Board of Governors of the Federal Reserve...,U.S. Census Bureau (BOC); Moody's Analytics Fo...,U.S. Bureau of Economic Analysis (BEA); Moody'...,U.S. Bureau of Economic Analysis (BEA); Moody'...
3,Native Frequency,MONTHLY,MONTHLY,MONTHLY,MONTHLY,MONTHLY,ANNUAL,MONTHLY,MONTHLY,MONTHLY,...,MONTHLY,MONTHLY,MONTHLY,MONTHLY,MONTHLY,MONTHLY,MONTHLY,MONTHLY,MONTHLY,MONTHLY
4,Geography,United States,United States,United States,United States,United States,United States,United States,United States,United States,...,United States,United States,United States,United States,United States,United States,United States,United States,United States,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,8/31/2035,517.343026,24477.50421,10683.55223,5.850066485,30258.36203,109631.1675,44455.57687,272055.4718,138308.4502,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435,9/30/2035,518.9847037,24562.9831,10715.48389,5.856203152,30357.61418,109972.5749,44603.62923,272841.9069,138661.205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
436,10/31/2035,520.6395684,24648.90071,10747.43959,5.862511348,30457.45432,110315.0369,44752.64789,273634.1101,139016.3131,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,11/30/2035,522.3014679,24734.91827,10779.51758,5.867732723,30557.72092,110658.5679,44902.08578,274426.9813,139373.9061,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
438,12/31/2035,523.9668129,24820.87659,10811.8076,5.871134198,30658.34089,111003.2058,45051.62167,275217.6797,139734.0124,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [191]:
macro_final = pd.DataFrame()
for i, row in df_macro.iterrows():
    if re.search(r"2017$", str(row["Mnemonic"])) or re.search(r"2018$", str(row["Mnemonic"])) or re.search(r"2019$", str(row["Mnemonic"])) or re.search(r"2020$", str(row["Mnemonic"])) or re.search(r"2021$", str(row["Mnemonic"])):
        t1 = pd.DataFrame(row).T
        month_code = format_date(t1['Mnemonic'].iloc[0])
        t1['mth'] = month_code
        macro_final = pd.concat([macro_final, t1], axis=0)
            
print(set(macro_final.columns).intersection(df_clean.columns))

set()

NEXT WE WILL STRATIFY SAMPLE THE CHARGED AND NON-CHARGED DATA

In [192]:
total_num = len(df_training)
charge_num = 0
for i in range(len(df_training)):
    if df_training["charge_off"][i] != 0:
        charge_num += 1

In [193]:
df_no_charge = df_training[df_training["charge_off"] == 0] 
df_no_charge_sample = df_no_charge.sample(n=15698)
df_charge = df_training[df_training["charge_off"] == 1]
df_clean = pd.concat([df_charge, df_no_charge_sample], axis=0)

In [194]:

x = pd.DataFrame()
final = pd.DataFrame()
a = 0 #
for i in df_clean['mth_code'].unique():
    left_block = df_clean[df_clean['mth_code'] == i]
    temp2 = macro_final[macro_final['mth'] == ((str)(i))]
    right_block = pd.concat([temp2]*len(left_block))
    
    left_block = left_block.reset_index(drop=True)
    right_block = right_block.reset_index(drop=True)
    
    x = pd.concat([left_block, right_block], axis=1)
    if a == 0:
        final = x
        a+=1
    else: 
        final = pd.concat([x, final], axis=0)
final

,financial_active,net_payment_behaviour_tripd,promotion_flag,variable_rate_index,account_status_code,active_12_mths,bank_fico_buckets_20,charge_off_reason_code,mob,open_closed_flag,...,M_FETP.IUSA,M_FLTV.IUSA,M_FC$.IUSA,M_FEIAMGTTQ.IUSA,M_FXCPMGASUQ.IUSA,M_FRBBBQ.IUSA,M_FHOWNRQ.IUSA,M_FIFR_FEDS.IUSA,M_FIFR$_FEDS.IUSA,mth
0,1.0,T,0,0,I 7-12,1.0,721-740,NaN,27,1.0,...,124.368,79.5,12551.989,2.4144,229.356,3.906289724,63.90535443,747.9049448,602.8415398,201801
1,0.0,R,0,0,A,1.0,701-720,NaN,16,1.0,...,124.368,79.5,12551.989,2.4144,229.356,3.906289724,63.90535443,747.9049448,602.8415398,201801
2,0.0,P,1,1,I 0-6,1.0,641-660,NaN,65,1.0,...,124.368,79.5,12551.989,2.4144,229.356,3.906289724,63.90535443,747.9049448,602.8415398,201801
3,1.0,I,0,1,A,0.0,581-600,NaN,56,1.0,...,124.368,79.5,12551.989,2.4144,229.356,3.906289724,63.90535443,747.9049448,602.8415398,201801
4,1.0,T,0,0,A,1.0,581-600,NaN,4,1.0,...,124.368,79.5,12551.989,2.4144,229.356,3.906289724,63.90535443,747.9049448,602.8415398,201801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,0.0,R,1,0,I 13-24,1.0,761+,NaN,49,1.0,...,124.554,79.5,12564.612,2.494,237.2825,3.883683951,63.89362222,751.899472,604.399634,201802
186,1.0,I,0,1,A,1.0,761+,NaN,8,1.0,...,124.554,79.5,12564.612,2.494,237.2825,3.883683951,63.89362222,751.899472,604.399634,201802
187,1.0,T,1,0,A,0.0,661-680,NaN,3,1.0,...,124.554,79.5,12564.612,2.494,237.2825,3.883683951,63.89362222,751.899472,604.399634,201802
188,0.0,P,0,0,I 13-24,1.0,761+,NaN,79,1.0,...,124.554,79.5,12564.612,2.494,237.2825,3.883683951,63.89362222,751.899472,604.399634,201802
189,0.0,R,1,1,A,1.0,761+,NaN,8,1.0,...,124.554,79.5,12564.612,2.494,237.2825,3.883683951,63.89362222,751.899472,604.399634,201802

In [195]:
data = []
for column in final.columns:
    data.append(pp.score(final, x=column, y="charge_off"))
pd.DataFrame(data).sort_values(by="ppscore", ascending=False).reset_index().head(n=50)

,index,x,y,ppscore,case,is_valid_score,metric,baseline_score,model_score,model
0,27,total_writeoff_amt,charge_off,1.000000,regression,True,mean absolute error,0.4944,0.000000,DecisionTreeRegressor()
1,21,active,charge_off,1.000000,regression,True,mean absolute error,0.4944,0.000000,DecisionTreeRegressor()
2,22,charge_off,charge_off,1.000000,predict_itself,True,None,0.0000,1.000000,None
3,50,writeoff_type_null,charge_off,0.995954,regression,True,mean absolute error,0.4944,0.002000,DecisionTreeRegressor()
4,26,principal_amt_chrg_off,charge_off,0.976788,regression,True,mean absolute error,0.4944,0.011476,DecisionTreeRegressor()
5,28,fee_chg_off_reversal_amt,charge_off,0.877639,regression,True,mean absolute error,0.4944,0.060495,DecisionTreeRegressor()
6,35,fc_reversals,charge_off,0.839196,regression,True,mean absolute error,0.4944,0.079502,DecisionTreeRegressor()
7,23,charge_off_aged,charge_off,0.799762,regression,True,mean absolute error,0.4944,0.098998,DecisionTreeRegressor()
8,36,fee_reversals,charge_off,0.793146,regression,True,mean absolute error,0.4944,0.102269,DecisionTreeRegressor()
9,18,credit_limit_amt,charge_off,0.686379,regression,True,mean absolute error,0.4944,0.155054,DecisionTreeRegressor()
10,33,aged_writeoff_amt,charge_off,0.658506,regression,True,mean absolute error,0.4944,0.168835,DecisionTreeRegressor()
11,46,writeoff_type_aged,charge_off,0.657775,regression,True,mean absolute error,0.4944,0.169196,DecisionTreeRegressor()
12,6,bank_fico_buckets_20,charge_off,0.430618,regression,True,mean absolute error,0.4944,0.281502,DecisionTreeRegressor()
13,14,prev_balance,charge_off,0.414622,regression,True,mean absolute error,0.4944,0.289411,DecisionTreeRegressor()
14,1,net_payment_behaviour_tripd,charge_off,0.396985,regression,True,mean absolute error,0.4944,0.298131,DecisionTreeRegressor()
15,11,nbr_mths_due,charge_off,0.319674,regression,True,mean absolute error,0.4944,0.336353,DecisionTreeRegressor()
16,16,net_payments,charge_off,0.244289,regression,True,mean absolute error,0.4944,0.373624,DecisionTreeRegressor()
17,25,principal_amt,charge_off,0.202882,regression,True,mean absolute error,0.4944,0.394095,DecisionTreeRegressor()
18,13,stmt_balance,charge_off,0.197497,regression,True,mean absolute error,0.4944,0.396757,DecisionTreeRegressor()
19,4,account_status_code,charge_off,0.179003,regression,True,mean absolute error,0.4944,0.405901,DecisionTreeRegressor()
20,0,financial_active,charge_off,0.169479,regression,True,mean absolute error,0.4944,0.410609,DecisionTreeRegressor()
21,9,open_closed_flag,charge_off,0.139998,regression,True,mean absolute error,0.4944,0.425185,DecisionTreeRegressor()
22,17,purchase_active,charge_off,0.090392,regression,True,mean absolute error,0.4944,0.449710,DecisionTreeRegressor()
23,29,net_finance_charge,charge_off,0.089663,regression,True,mean absolute error,0.4968,0.452255,DecisionTreeRegressor()
24,31,non_principal_amount_net,charge_off,0.087447,regression,True,mean absolute error,0.4944,0.451166,DecisionTreeRegressor()
25,19,credit_limit_pa,charge_off,0.086897,regression,True,mean absolute error,0.4944,0.451438,DecisionTreeRegressor()
26,32,non_principal_amount_stmt,charge_off,0.085412,regression,True,mean absolute error,0.4944,0.452172,DecisionTreeRegressor()
27,15,net_sales,charge_off,0.084048,regression,True,mean absolute error,0.4944,0.452847,DecisionTreeRegressor()
28,30,non_principal_amount_gross,charge_off,0.079579,regression,True,mean absolute error,0.4944,0.455056,DecisionTreeRegressor()
29,39,promo_bal_amt,charge_off,0.076510,regression,True,mean absolute error,0.4944,0.456573,DecisionTreeRegressor()
30,5,active_12_mths,charge_off,0.065549,regression,True,mean absolute error,0.4944,0.461993,DecisionTreeRegressor()
31,34,bankruptcy_writeoff_amt,charge_off,0.053597,regression,True,mean absolute error,0.4944,0.467901,DecisionTreeRegressor()
32,41,writeoff_type_bko,charge_off,0.050226,regression,True,mean absolute error,0.4944,0.469568,DecisionTreeRegressor()
33,40,recovery_amt,charge_off,0.049401,regression,True,mean absolute error,0.4944,0.469976,DecisionTreeRegressor()
34,24,charge_off_bk,charge_off,0.048449,regression,True,mean absolute error,0.4944,0.470447,DecisionTreeRegressor()
35,2,promotion_flag,charge_off,0.031026,regression,True,mean absolute error,0.4944,0.479061,DecisionTreeRegressor()
36,38,other_writeoff_amt,charge_off,0.027166,regression,True,mean absolute error,0.4944,0.480969,DecisionTreeRegressor()
37,44,writeoff_type_deceased,charge_off,0.014010,regression,True,mean absolute error,0.4944,0.487474,DecisionTreeRegressor()
38,68,industry,charge_off,0.011158,regression,True,mean absolute error,0.4944,0.488884,DecisionTreeRegressor()
39,8,mob,charge_off,0.007489,regression,True,mean absolute error,0.4944,0.490698,DecisionTreeRegressor()
40,47,writeoff_type_settlement,charge_off,0.005167,regression,True,mean absolute error,0.4944,0.491846,DecisionTreeRegressor()
41,109,M_FRFED.IUSA,charge_off,0.001102,regression,True,mean absolute error,0.4988,0.498251,DecisionTreeRegressor()
42,125,M_FHPNR.IUSA,charge_off,0.001020,regression,True,mean absolute error,0.4988,0.498291,DecisionTreeRegressor()
43,129,M_FYPSVQ.IUSA,charge_off,0.000890,regression,True,mean absolute error,0.4988,0.498356,DecisionTreeRegressor()
44,128,M_FCBC.IUSA,charge_off,0.000890,regression,True,mean absolute error,0.4988,0.498356,DecisionTreeRegressor()
45,119,M_FCPIUL1E.IUSA,charge_off,0.000890,regression,True,mean absolute error,0.4988,0.498356,DecisionTreeRegressor()
46,127,M_FSP500Q.IUSA,charge_off,0.000890,regression,True,mean absolute error,0.4988,0.498356,DecisionTreeRegressor()
47,126,M_FCUMF.IUSA,charge_off,0.000890,regression,True,mean absolute error,0.4988,0.498356,DecisionTreeRegressor()
48,131,M_FCCDBC.IUSA,charge_off,0.000890,regression,True,mean absolute error,0.4988,0.498356,DecisionTreeRegressor()
49,132,M_FCCDCF.IUSA,charge_off,0.000890,regression,True,mean absolute error,0.4988,0.498356,DecisionTreeRegressor()

In [196]:
corr = final["charge_off"].corr(final["M_FCCDBC.IUSA"].astype(float))
corr

-0.0395263302450835